/* Global Styles */
body {
    font-family: 'Gabarito', sans-serif;
    background-color: #00492B; /* Sweet Leaf */
    margin: 0;
    padding: 0;
    color: #F7EFE2; /* White */
}

.header {
    background-color: #EBAEED; /* Purple Haze */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .logo {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #00492B; /* Black */
    font-weight: 700; /* Medium */
}

.hero {
    width: 100%;
    height: auto;
}

.hero video {
    width: 100%;
    height: auto;
}

.soundcloud-widget,
.bandcamp-widget {
    padding: 20px;
    background-color: #F7EFE2; /* White */
    color: #00492B; /* Black */
    margin: 10px 0;
}

.social-media {
    padding: 20px;
    text-align: center;
}

.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    margin: 10px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

.footer {
    background-color: #EBAEED; /* Purple Haze */
    padding: 20px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #00492B; /* Black */
}

@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-56 {
        width: 80%;
        margin: 10px 0;
    }
}
